@using F1App.Domain
@model IQueryable<Pilot>

@{
    ViewBag.Title = "Pilots List";
}

<script>
    $(".navbar li.active").removeClass("active");
    $("#PilotLink").addClass("active");
</script>


<div id="JsonGenerator">
    @Html.Action("ShowPilotOptions", "JsonOptions")
</div>
<div id="Pilots">
    <div class="panel panel-default">
        <div class="panel-heading">Pilots</div>
        <div class="panel-body">
            <table id="pilotsTable" class="table table-striped table-bordered dt" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Pilot Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Nationality</th>
                        <th>Birth Date</th>
                        <th>Abreviation</th>
                        <th>Team (TeamId)</th>
                        <th>Wikipedia</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model)
                    {
                        <tr>
                            <td>@p.PilotId</td>
                            <td>@p.PilotNumber</td>
                            <td>@p.PilotFName</td>
                            <td>@p.PilotLName</td>
                            <td>@p.PilotNationality</td>
                            <td>@p.PilotDOB</td>
                            <td>@p.PilotAbv</td>
                            <td>@p.Team.TeamName (@p.Team.TeamId)</td>
                            <td>@p.PilotUrl</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

